@import './../../style/vars.scss';
@import './../../style/mixins.scss';
// * {
//     outline: 1px solid #000;
// }
.game {
    min-height: 35rem;
    background-image: url("../../../public/images/background-game.png");
    // background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    @include button (5%, 10px)
}

.counter {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    color:  $text-color;
}