@import './../../style/vars.scss';
@import './../../style/mixins.scss';

.card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 38%;
    margin: 10px;
    // width: 22%;
    // border-radius: 15px;
    // border: 1px solid $accent-vivid;
    // box-shadow: 0 0 15px 5px $accent-vivid;
    // background: radial-gradient(circle, rgba(255,255,255,1) 20%, $accent-pastel 100%);

    min-height: 26rem;
    text-align: center;

    background-image: url("../../../public/images/spot-big.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.word {
    font-size: 1.9em;
    font-weight: 600;

    color: $button-dark;
}

.transcription {
    margin: 20px;
    font-size: 1.2em;
    color: $text-color;
}

.button_translate {
    @include button (60%, 10px);
    &:hover {
        background-color: $button-light;
    }
}

.animation {
    min-height: 24rem;
    width: 30%;
    font-size: 0.8em;
}

button:focus {
    box-shadow: 0 0 5px 5px #fff;
    outline: none;
}