@import './../../style/vars.scss';
@import './../../style/mixins.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
}

.appname {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.logo {
    width: 20%;
}

.text {
    color: $text-color;

    div:first-of-type {
        font-weight: 600;
        font-size: 1.4em;
    }
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style-type: none;
    font-weight: 600;
    color: $text-color;

    li {
        @include button(15%, 8px);
}
}