@import './vars.scss';
@import './mixins.scss';

.game__container {
    min-height: 35rem;
    background-image: url("../../public/images/background-game.png");
    background-size: 80%;
    background-position: center;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.game__button {
    @include button (5%, 10px)
}

.game__counter {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    color:  $text-color;
}