@import './vars.scss';
@import './mixins.scss';

.table__container {
    background-image: url("../../public/images/background-group.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.table__tablewrap {
    width: 70%;
    margin: 25px auto;
    border-radius: 15px;
    border-spacing: 0;
    line-height: 2em;
    background-color: $accent-pastel;
}

.table__header {
    display: grid;
    grid-template-columns: repeat(4,20%) 1fr 1fr;
    padding: 10px;
    border-radius: 15px 15px 0 0;

    font-weight: 600;
    text-align: center;

    border-bottom: 1px solid #fff;
    background-color: $accent-vivid;
    color: #fff;
}