@import './../../style/vars.scss';

.container {
    outline: 1px solid rgb(192, 108, 108);
    background-image: url("../../../public/images/background-group.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.table {
    width: 70%;
    margin: auto;
    border-radius: 15px;
    border-spacing: 0;
    line-height: 2em;
    background-color: $accent-pastel;
}

.header {
    display: grid;
    grid-template-columns: repeat(4,20%) 1fr 1fr;
    padding: 10px;
    border-radius: 15px 15px 0 0;

    font-weight: 600;
    text-align: center;

    border-bottom: 1px solid #fff;
    background-color: $accent-vivid;
    color: #fff;
}