@import './../../style/vars.scss';

.row {
    color: $text-color;

    th {
        font-weight: 400;
        border-bottom: 1px solid #fff;
    }
}

.button {
    border: none;
    background-color: inherit;
    color: $button-dark;

    &:hover {
        color: $button-light;
    }
}

